body
{
  color: white;
  background: #c0d3ff;
  font-family: 'Karla', sans-serif;
  background-image:url(https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ;
}
span
{
  font-size: 30px;
}
#camera , #snapshot
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotion_result ,#emotion_result2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 25px;
  font-family: 'Karla', sans-serif;
  letter-spacing:10px;
}